<!-- side navigation -->
<div class="col-md-3 left_col" nav-menu>
	<p> this is the side nav</p>
</div>

<!-- top navigation -->
<div class="top_nav" context-menu>
	<p>this is the top nav</p>
</div>

<!-- page content -->
<div class="right_col" role="main">
    <p> this is the main content </p>
	<router-outlet></router-outlet>
</div>

<!-- footer content -->
<footer>
	<!--<div [class.isDebug]="helper.isDebug" class="pull-right" (click)="toggleIsDebug()">-->
    <div>
		yoyhoyoyo - by Louis Ng
	</div>
	<div class="clearfix"></div>
</footer>
