<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title"><i class="fa fa-space-shuttle "></i> <span>Louiegor </span></a>
    </div>

    <div class="clearfix"></div>

    <br />
  
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>General</h3>
            <p> </p>
            <ul>
                <li><a (click)="goToMenu('momoclo/')">All deals</a></li>
            </ul>
            <!--<ul class="nav side-menu">
                <li><a><i class="fa fa-leanpub"></i> Deals <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a (click)="goToMenu('deal/list')">All deals</a></li>
                        <li><a (click)="goToMenu('deal/new')">New deal</a></li>
                    </ul>
                </li>
                 <li><a><i class="fa fa-envelope"></i> Emails <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a (click)="goToMenu('email/list')">All Emails</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-file-pdf-o"></i> Pdf Temlates (Admin) <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a (click)="goToMenu('pdf/list')">All Pdfs</a></li>
                        <li><a (click)="goToMenu('pdf/add')">New Pdf</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-users"></i> Users (Admin) <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a (click)="goToMenu('user/list')">Users</a></li>
                        <li><a (click)="goToMenu('user/add')">New User</a></li>
                    </ul>
                </li>
            </ul>-->
        </div>
    </div>

</div>